<p id="notice"><%= notice %></p>

<p>
  <strong>Fullorder:</strong>
  <%= @full_order.fullorder %>
</p>

<%= link_to 'Edit', edit_full_order_path(@full_order) %> |
<%= link_to 'Back', full_orders_path %>
